Package: videocaster
Version: 1.2-0
Section: base
Priority: optional
Architecture: amd64
Depends: google-chrome-stable
Recommends: ffmpeg
Maintainer: jbfp <jakob@jbfp.dk>
Description: Videocaster
 Cast local video files to Chromecast targets
